*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@font-face {
    font-family: 'Street'; 
    src: url('../font/STREET__.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/*CSS para la Barra de navegación */
nav{
    width: 100%;
    height: 13vh;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    z-index: 1000;
}

.logoYtexto{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.divnav-logo{
    height: 12vh;
    width: 100%;
}

.divnav-logo img{
    height: 100%;
    max-height: 100%;
    min-width: 100%;
}

.logo-texto{
    line-height: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    white-space: nowrap;
}
.logo-texto p:first-child{
    font-family: 'Street', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    color: white;
}
.logo-texto p:nth-child(2){
    font-size: 10px;
    font-family: 'Street',sans-serif;
    text-decoration: none;
    color: white;
}


.menu{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}
.menu li{
    list-style: none;
    padding: 15px;
    margin: 0 5px;
}
.menu .menu-i{
    font-family: 'Street', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu .menu-i:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px 0px;
    transition: ease 0.8s;
}



.div-btn{
    width: auto;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn{
    font-size: 36px;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px){
    nav{
        position: fixed;
    }
    .menu-btn{
        height: 100%;
        width: 100%;
        /*padding: 10px;*/
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        margin-right: 25px;
    }
    .menu{
        height: 88vh;
        width: 100%;
        position: fixed;
        top: 13vh;
        left: 0;
        background: rgb(77, 74, 74);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease;
        transform: translateX(-100%);
    }
    .menu li{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 15px;
    }
    .menu .menu-i:hover{
        color: rgb(0, 0, 0);
        font-size: 18px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 6px;
    }
    .menu.active{
        transform: translateX(0);
    }
}
/*Fin CSS para Barra de navegación*/


/*CSS Para el Footer*/
footer {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 5px 0;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*
    max-width: 1024px;*/
    margin: 0 auto;
}

.logo-footer {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-footer img {
    width: auto;
    height: 10vh;
}

.p-footer p {
    margin: 1px 0;
}

.p1{
    font-family: 'Street', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.p2{
    font-family: 'Street', sans-serif;
    font-size: 12px;
}

.redes-div {
    font-family: 'Street', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.redes-div img {
    width: auto; 
    height: 10vh;
}
.redes-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.contacto-footer {
    width: auto;
    margin-top: 5px;
}

.contacto-footer p{
    font-family: 'Street', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

@media screen and (max-width: 800px){
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .logo-footer{
        height: auto;
        width: 100%;
        margin: 15px 0px;
    }
    .contacto-footer{
        height: auto;
        width: 100%;
        margin: 15px 0px;
        text-align: center;
    }
    .redes-div{
        height: auto;
        width: 100%;
        margin: 15px 0px;
        text-align: center;
    }
    .redes-icons{
        justify-content: center;
        gap: 15px;
    }
}

/*Fin CSS para Footer*/


/*Configuracion del body*/
body{

    width: 100%;
    /*min-height: 100vh;*/
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*A partir de aquí va el css para aplicar a su sección*/
main{
    /*te recomiendo dejar estas 2 tal cual*/
    margin-top: 13vh;
    flex-grow: 1;    
    /*segui agregando opciones acá abajo*/
}
/* ---------------------------------------------- Boton WSP ------------------------------------------*/

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0 , 0, 0.5);
    z-index: 100;
}
.btn-wsp img{
    width: 100%;
    height: 100%;
}

.btn-wsp:hover{
    transition: ease 0.8s;
    scale: 1.1;
}
/* ---------------------------------------------- FIN Boton WSP ------------------------------------------*/

.superior {
    background-image: url("../img/ALFAJORE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36.5vh;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.inferior {
    width: 100%;
    height: 51.5vh;  
    background-image: url("../img/Fondotexturaestrellas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    padding-top: 2em;
    margin-bottom: 5vh;
}   

.pantalladividida {
    display: flex;
    flex-direction: column;
}

.superiortexto {
    flex-grow: 0;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.conoce {
    color:white;
    font-family: 'Convergence', sans-serif;
    font-style: italic;    
    font-size: 20px;
}

.nuestras-redes {
    font-size: 61px;
    line-height: 140%;
    font-weight: bold;
    color:white;
    font-family: 'Convergence', sans-serif;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.superiortexto {
    transform: translate(-50%, -50%);
}

.nuestras-redes{
    animation: text 3s 1;
}

@keyframes text {
    0%{
        color:rgba(0, 0, 0, 0);
        text-shadow: 2px 5px 3px rgba(0, 0, 0, 0);
        margin-bottom: -10px;
    }
    30%{
        letter-spacing: 15px;
        margin-bottom: -20px;
    }
    85%{
        letter-spacing: 5px;
        margin-bottom: -20px;
    }
}

.conoce{
    animation: text2 4s 1;
}

@keyframes text2 {
    0%{
        color:rgba(0, 0, 0, 0);
    }
    70%{
        color:rgba(0, 0, 0, 0);
    }
}

    /*ESTILOS BOTÓN INSTAGRAM*/
.ov-btn-slide-left {
    background: #000000; /* color de fondo */
    color: #ffffff; /* color de fuente */
    padding: 16px 20px;
    border-radius: 9px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: 'Street', sans-serif;
    font-size: 15px;
    letter-spacing: 0.15em;
}

.ov-btn-slide-left:hover {
    color: #000000; /* color de fuente hover */
}

.ov-btn-slide-left::after {
    content: "";
    background: #ffffff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
/*FIN ESTILOS BOTÓN INSTAGRAM*/

/*TRANSICION DE BOTON INSTAGRAM*/
.ov-btn-slide-left {
    animation: animacionboton 4.5s 1;
}
@keyframes animacionboton {
    0%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
    70%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
    90%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
}

.ov-btn-slide-left::after{
    animation: animacionbotonblanco 5s 1;
}

@keyframes animacionbotonblanco {
    0%{
        background:rgba(0, 0, 0, 0);
    }
    70%{
        background:rgba(0, 0, 0, 0);
    }
    90%{
        background:rgba(0, 0, 0, 0);
    }
}
/*FIN TRANSICION DE BOTON INSTAGRAM*/

/* ESTILOS BOTÓN FACEBOOK */
.ov-btn-slide-left2 {
    background: #000000; /* color de fondo */
    color: #ffffff; /* color de fuente */
    padding: 16px 20px;
    border-radius: 9px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: 'Street', sans-serif;
    font-size: 15px;
    letter-spacing: 0.15em;
}

.ov-btn-slide-left2:hover {
    color: #000000; /* color de fuente hover */
}

.ov-btn-slide-left2::after {
    content: "";
    background: #ffffff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.ov-btn-slide-left2:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
/*FIN ESTILOS BOTÓN FACEBOOK***/

/*TRANSICION DE BOTON FACEBOOK*/
.ov-btn-slide-left2 {
    animation: animacionboton2 4.5s 1;
}
@keyframes animacionboton2 {
    0%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
    70%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
    90%{
        color:rgba(0, 0, 0, 0);
        background: #00000000;
        color: #ffffff00;
    }
}

.ov-btn-slide-left2::after{
    animation: animacionbotonblanco2 5s 1;
}
@keyframes animacionbotonblanco2 {
    0%{
        background:rgba(0, 0, 0, 0);
    }
    70%{
        background:rgba(0, 0, 0, 0);
    }
    90%{
        background:rgba(0, 0, 0, 0);
}
}
/*FIN TRANSICION DE BOTON FACEBOOK*/


/*REDES ADAPTADO A CELULARES*/
@media screen and (max-width: 720px) {
    .superiortexto {
        flex-grow: 0;
        position: absolute;  
    }
    .superior-p {
        white-space: nowrap;
    }
    .conoce {
        font-size: 15px;
    }
    .nuestras-redes{
        font-size: 40px;
        text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
    }
    .inferior {
        padding: auto;
        height: auto;
    }
    .nuestras-redes{
        animation: text 3s 1;
    }
    @keyframes text {
        0%{
            color:rgba(0, 0, 0, 0);
            text-shadow: 2px 5px 3px rgba(0, 0, 0, 0);
            margin-bottom: -10px;
        }
        20%{
            letter-spacing: 3px;
            margin-bottom: -20px;
        }
        70%{
            letter-spacing: 4px;
            margin-bottom: -20px;
        }
    }
}
    