*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@font-face {
    font-family: 'Street'; 
    src: url('../font/STREET__.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/*CSS para la Barra de navegación */
nav{
    width: 100%;
    height: 12vh;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.logoYtexto{
    max-width: 20%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.divnav-logo{
    height: 12vh;
    width: auto;
}

.divnav-logo img{
    height: 100%;
    max-height: 100%;
    min-width: 100%;
}

.logo-texto{
    line-height: auto;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    white-space: nowrap;
}
.logo-texto p:first-child{
    font-family: 'Street', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.logo-texto p:nth-child(2){
    font-size: 10px;
    font-family: 'Street',sans-serif;
}


.menu{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}
.menu li{
    list-style: none;
    padding: 15px;
    margin: 0 5px;
}
.menu .menu-i{
    font-family: 'Street', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu .menu-i:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(212, 182, 7);
    border-radius: 8px;
    padding: 5px 0px;
}



.div-btn{
    width: auto;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn{
    font-size: 36px;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 720px){
    nav{
        position: fixed;
    }
    .menu-btn{
        height: 100%;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }
    .menu{
        height: 88vh;
        width: 100%;
        position: fixed;
        top: 12vh;
        left: 0;
        background: rgb(77, 74, 74);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease;
        transform: translateX(-100%);
    }
    .menu li{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 15px;
    }
    .menu .menu-i:hover{
        color: rgb(0, 0, 0);
        font-size: 18px;
        background-color: rgb(212, 182, 7);
        border-radius: 15px;
        padding: 6px;
    }
    .menu.active{
        transform: translateX(0);
    }
}
/*Fin CSS para Barra de navegación*/


/*CSS Para el Footer*/
footer {
    background-color: #000000;
    color: white;
    padding: 5px 0;
    width: 100%;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*
    max-width: 1024px;*/
    margin: 0 auto;
}

.logo-footer {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-footer img {
    width: 50px;
    height: auto;
}

.p-footer p {
    margin: 1px 0;
}

.p1{
    font-family: 'Street', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.p2{
    font-family: 'Street', sans-serif;
    font-size: 8px;
}

.redes-div {
    display: flex;
    align-items: center;
    gap: 10px;
}


.redes-div img {
    width: 30px; 
    height: auto;
}

.ayuda-footer{
    width: auto;
    color: white;
    font-family: 'Street', sans-serif;
    font-size: 12px;
}

.ul-footer {
    list-style: none;
    padding: 0;
    text-align: left;
}

.ul-footer li {
    margin: 7px 0px;
}
.ul-footer li>a{
    color: white;
}

.contacto-footer {
    width: auto;
    margin-top: 5px;
}

.contacto-footer p{
    font-family: 'Street', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 8px;
}

/*Fin CSS para Footer*/


/*Configuracion del body*/
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(189, 92, 92);
    display:flex;
    flex-direction: column;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*A partir de aquí va el css para aplicar a su sección*/
main{
    /*te recomiendo dejar estas 2 tal cual*/
    margin-top: 12vh;
    flex-grow: 1;
    /*segui agregando opciones acá abajo*/
    width: 100%;
    background-image: url('../img/img_productos/fondo\ alfajores\ dorado.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.h1 {
    color: #000000;
    background-color:rgb(189, 92, 92);
    font-family:'Franklin Gothic Medium';
    width: 100%;
    padding: 2%;
    height: auto;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    justify-content: space-around;
    width: 15em;
    height: 18em;
    background-color:white;
    border-radius: 0px 30px 0px 30px;
    padding: 20px;
    transition: background-color 0.3s;
    font-family: 'Street',sans-serif; 
    text-align: center;
    margin: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 233, 233);
    transition: opacity 0.5s;
    font-weight: bold;
}

.card:hover {
    background-color: #ffffe0;
}

.img {
    width: 80%;
    height: 80%;
    border-radius: 0px 30px 0px 30px;
    object-fit: cover;
}
.button {
    background-color: #fff6c4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: black;
    
}
.button:hover a {
    color: white; /* Cambia a tu color deseado */
    text-decoration: none; /* Opcional: quita la subrayado del enlace */
  }